<nav>
    <div class="navbar-basic">
        <a class="navbar-brand" href="/"><img
                src="https://github.com/ldanko91/ch-js-entrega-final/blob/entrega-final/assets/logo.jpg?raw=true"
                alt="CASA DANKO" class="logo-navbar"></a>
        <h3>Casa Danko</h3>
        <h3>Sanitarios & Amoblamientos</h3>
        <a href="/realtimeproducts">
            <h4>Productos en tiempo real</h4>
        </a>
    
    </div>
</nav>